apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-sql
data:
  init.sql: |
    CREATE DATABASE usersdb;

    \c usersdb;

    CREATE TABLE IF NOT EXISTS users (
        email TEXT PRIMARY KEY,
        name TEXT NOT NULL,
        location TEXT,
        country TEXT
    );

    INSERT INTO users (email, name, location, country) VALUES
    ('vishalkapadi17@hotmail.com', 'Vishal K', 'Mumbai', 'India')
    ON CONFLICT (email) DO NOTHING;

    INSERT INTO users (email, name, location, country) VALUES
    ('kapadivishal17@hotmail.com', 'Kapdi Vishal', 'Toronto', 'Canada')
    ON CONFLICT (email) DO NOTHING;
